build/*

*.d
*.o
*.res
*.exe
*.log
_downloaded/*
_gfxbase/*
*.dll
*.directory
*.mp3
*.flac
*.ogg
*.wav
*.kate-swp
*.blend
*.blend1
*.blend2
gmon.out
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.obj
*.tiny3d
*.mtl
*.font
*.wflz
*.ico
*.pak
*.spv
Planet.cpp
Planet.h
res/**/*.xml
res/**/*.txt
res/json/*
res/mus/*
res/pak/*
res/3d/*
res/icons/*
res/cursor/*
dev/*
workspace.np
gamecontrollerdb.txt
