build/*

*.d
*.o
*.res
*.exe
_downloaded/*
_gfxbase/*
*.dll
*.directory
*.mp3
*.flac
*.kate-swp
*.blend
*.blend1
*.blend2
gmon.out
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.obj
*.tiny3d
*.mtl
*.font
*.wflz
*.ico
*.pak
Planet.cpp
Planet.h
res/**/*.xml
res/**/*.txt
res/json/*
res/shaders/*
dev/*
workspace.np
gamecontrollerdb.txt
